body {
    background-color: bisque;
    font-size: 16px;
}

main {
    width: 60%;
    margin: 0 auto;
}

p {
    font-size: 1.4em;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
} .charText{
    text-align: right;
    margin-right: 45px;
    font-size: 1.2em;
} .story{
   /*margin-top: -5em;*/
}